.button {
    width: 447px;
    height: 48px;
    border-radius: 8px;
    border-style: solid;
    border-color:#39CDCC;
    opacity: 1;
    background-color: #39CDCC;
    color: #ffffff;
    margin-top: 30px;
    margin-bottom: 30px;
}
