.App {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main-content {
    display: flex;
    flex: 1; // This will allow the main content to take up the remaining space
    background-color: #f6f7f6;
}

.header {
    z-index: 10; 
    position: relative; // Ensure the header is on top without affecting the layout
}

.content {
    flex: 1; // Allow content to grow
    padding: 20px; // Add some padding for better spacing
    
}
